[submodule "apps1"]
	path = apps1
	url = https://github.com/hafiz2107/influencer
[submodule "apps/influencer"]
	path = apps/influencer
	url = https://github.com/hafiz2107/influencer
[submodule "apps/user"]
	path = apps/user
	url = https://github.com/hafiz2107/user
[submodule "apps/meeting"]
	path = apps/meeting
	url = https://github.com/hafiz2107/meeting
